$deck-blue: #05AEED;
$deck-light-blue: #d9effa;
$deck-content-blue: #1A59A7;
$deck-border-gray: #d4d3d3;
$deck-dark-gray: #444444;
$deck-light-gray: #F5F5F5;
$deck-white: #ffffff;
$deck-black: #000000;
$deck-background-color: #F7FAFC;
$gray: gray;

$deck-font-xs: 8px;
$deck-font-small: 10px;
$deck-font-xm: 11px;
$deck-font-medium: 12px;
$deck-font-large: 14px;
$deck-font-xl: 16px;
$deck-font-xxl: 18px;
$deck-font-xxxl: 20px;

